section,
footer {
    padding: 60px 0;

}

.showcase-img {
    background-size: cover;
    background-position: center;
}

.showcase-test {
    padding: 50px;
}

.showcase {
    padding: 0;
}

.team-items {
    max-width: 200px;
}

.call-to-action {
    background-image: url('../img/slider-1.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {

    .service-item,
    .team-items {
        margin-bottom: 50px;
    }

    .service-item:last-child,
    .team-items-last {
        margin: 0;
    }

    .showcase-img {
        height: 300px;

    }

}